*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(43, 122, 79);
}

.card{
    margin: auto;
    margin-top: 150px;
    font-family: 'Playfair Display', serif;
}

.icono_de_arriba,.icono_de_abajo{
    font-size: 75px;
}

.card-text{
    font-size: 100px;
}

.rojo{
    color: red;
}

.btn{
    margin-left: 350px;
}

.botones_de_tamaño{
    margin-right: 300px;
}