*{
    padding: 0;
    margin: 0;
}

body{
    background: rgb(123, 218, 34);
}

.card{
    margin: auto;
    margin-top: 150px;
}

.icono_de_arriba,.icono_de_abajo{
    font-size: 75px;
}

.card-text{
    font-size: 100px;
}